:root {
  --main-bg: #fdf3ee;
  --secondary-bg: #9a6836;
}

body {
  background-color: var(--main-bg);
}

.navbar {
  background-color: var(--secondary-bg);
}

.navbar a {
  color: white!important;
}

.navbar-toggler {
  box-shadow: none!important;
}

.nav-icon {
  flex-direction: row;
  justify-content: center;
}

.nav-icon .nav-item {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.nav-item {
  margin-left: 1rem;
}
